html, body {
  margin: 0;
  height: 100%;
  // TODO import custom font
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a39282;
}

a {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

// Large screens
@media screen and (min-width: 650px) {
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
